.title {
  background-color: #1035ac;

}
body{
   font-family:'Ubuntu',sans-serif;
}

h1{
  font-family: 'Ultra', sans-serif;
  display:inline-block;
  font-size:3rem;
  line-height:1.5;
  color:white;
  font-weight: normal;
}

h3 {
  font-family:'Montserrat',sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

h2{
  font-family:'Montserrat',sans-serif;
  font-weight: bold;
  font-size:3rem;
  line-height: 1.5;
}


/*Editing the NavBar*/
.navbar {
  padding-left:0;
  height:40px;
}

.navbar-brand {

  font-size:2.5rem;
  font-weight: bold;
}

.nav-item {

  font-size:1.5rem;
  padding-left:15px;
  padding-right: 15px;
}

/*Editing inside the div which contains the image and the buttons*/

.container-fluid {
  padding: 3% 15% 7%;
}
.row {
  padding-top:60px;
}
.first-pic {
   position:absolute;
   right:15%;
   margin-bottom:10px;
   width:90%;

}

/*Editing Download Buttons*/
.download-button{
  margin : 25px 10px;

}

/*Editing the features section*/

#features {
  padding-left:10px;
  padding-right:40px;
  background-color: #fff;
  position:relative;

}



p{
  color:#8f8f8f;
  text-align: center;
}


/*Testimonials part*/
#testimonials {
  text-align: center;
  background-color: #bd3c4b;
  color:#fff;


}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1rem;
}

.card {
  flex: 0 0 calc(33.33% - 40px);
  width: 150px;
  height: 310px;
  background: #ffcccb;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
 }
 
 .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 /*Image*/
 .card-avatar {
  --size: 150px;
  width: var(--size);
  height: var(--size);
  border-radius: 60%;
  transition: transform .2s ease;
  margin-bottom: 0.2rem;

  /* Set the background image */

}
 #first {
  background-image: url('https://media.licdn.com/dms/image/D4E03AQEVegGN01SIxw/profile-displayphoto-shrink_800_800/0/1681495720792?e=1697673600&v=beta&t=o8se_wCFdxnl6_Lr1t3QBAfvmGtzOZrRqtGiP4h7NDY'); /* Replace with the actual path */
  background-size: cover;
  background-position: center;
}

 #second {
  background-image: url('https://media.licdn.com/dms/image/D4E03AQEOHUKMGpTXJQ/profile-displayphoto-shrink_800_800/0/1631092447793?e=1697673600&v=beta&t=srart6IamcrLNsELQkcrqChXgHAbM931p9gA6TcaY4o'); /* Replace with the actual path */
  background-size: cover;
  background-position: center;
}
 
 
 /*Card footer*/
 .card-social {
  transform: translateY(25%);
  display: flex;
  justify-content: space-around;
  width: 92%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 .card-social__item {
  list-style: none;
 }
 
 .card-social__item svg {
  display: block;
  height: 25px;
  width: 30px;
  fill: #515F65;
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
  overflow:hidden;
 }
 
 /*Text*/
 .card-title {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
 }
 
 .card-subtitle {
  color:#859ba8;
  font-size: 0.8em;
 }
 
 /*Hover*/
 .card:hover {
  box-shadow: 0 8px 50px #23232333;
 }
 
 .card:hover .card-info {
  transform: translateY(10%);
 }
 
 .card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
 }
 
 .card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
 }
 
 .card-avatar:hover {
  transform: scale(1.1);
 }


.kopche {
margin-left:40px;
margin-right:40px;

}



/*Making the site more responsive by using media query*/
@media (min-width:10px ) and (max-width:980px) {
  .first-pic {
    position:static;
    transform: rotate(0);
  }

  .title {
    text-align: center;
  }
}

/*Editing the final parts*/
#cta {
  background-color: #ff4c68;
  text-align: center;;
  height:400px;
}

.posledennaslov{
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  line-height: 1.5;
  font-size:60px;
  color:#fff;
  padding-top:50px;
  padding-bottom:30px;
}

.finalKopche {
  margin-right:15px;
  margin-left:15px;
}

#footer {
  margin-top:35px;
  text-align: center;
  background-color: #fff;
  height:200px;
}

.ikonki {
  margin-top:50px;
  margin-right:5px;
  margin-left:5px;
  padding-bottom:20px;
}

#pricing {
  text-align: center;
}


/*About us page additional style*/
 
#about-us {
  background-color:#f8de7e;
}


/*Lessons page*/


.lesson-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.lesson-title {
  font-size: 24px;
  margin-bottom: 20px;
  color:black;
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.video-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}
.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




/* Lessons In Order Page*/


.lekcii-container {
  max-width: 800px;
  margin: 20px auto; /* Add margin to the top */
  padding: 20px;
  background-color: #bd3c4b; /* Change the background color */
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.videa-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  background-color: #333; /* Change the background color */
  border-radius: 10px;
  margin-top: 20px; /* Add margin from the top */
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lesson-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#startButton, #prevButton, #nextButton {
  background-color:lightgoldenrodyellow;
  color: black;
  border: none;
  padding: 5px 10px; /* Adjust padding */
  border-radius: 50%; /* Make buttons circular */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;

}

#prevButton::before {
  margin-right: 5px;
}

#nextButton::after {
  margin-left: 5px;
}

#left-arrow {
  transform: scaleX(-1);
}
